*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common utilities */
body{
    background-color:aliceblue;
}
main{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
}
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=News+Cycle&family=Oswald:wght@700&family=Passion+One&family=Poppins:ital,wght@0,500;0,900;1,400&family=Space+Mono&family=Suez+One&display=swap');

/* Top Banner start */
.top-banner{
    background-color:#1E1E1E;
    display: flex;
    color: white;
    border-radius: 15px;
    margin-bottom: 5%;
}
.half-width{
    width: 50%;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 5%;
}
.half-width h1{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    margin-bottom: 15px;
}
.half-width p{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 100;
    word-spacing: 2px;
}
.button{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 5px;
    font-size: 20px;
}
.fa-solid{
    font-size:15px;
    margin-left:5px;
}
/* Top Banner End */

/* Middle Section Start */
.middle-section{
    display: flex;
    margin-bottom:5%;
}
/* Middle-Left */
.menu{
    width:230px;
    height: 240px;
    background-color:#1E1E1E;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin-right: 15px;
}
.btn{
    background-color:whitesmoke;
    color:#1E1E1E;
    text-decoration: none;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 20px;
}

#btn{
    background-color:orangered;
    color:white;
    text-decoration: none;
    padding: 13px 15px;
    border-radius: 5px;
    font-size: 20px;
}
/* Middle-Right */
.middle-right{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-left: 10px;
}
.middle-content{
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 200px;
    box-shadow: 1px 1px 5px;
    align-items: center;
    padding-top: 30px;
    border-radius: 10px; 
}
.flag{
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}
.flag h4{
    margin-left: 5px;
    margin-right: 5px;
}
.info{
    text-align: center;
}
.info h3{
    margin-bottom: 10px;
}


/* Middle- Section End */

/* Footer Start */
footer{
    width:100%;
    height:350px;
    background-color:#1E1E1E;
    text-align: center;
}
footer h2{
    font-size: 30px;
    color: white;
    padding-top:8%;
    margin-bottom: 3%;
}
footer nav{
    margin-top: 3%; 
}
footer hr{
    margin-left: 8%;
    margin-right: 8%;
}
nav a{
    padding: 20px;
    text-decoration: none;
    color: rgb(198, 185, 185);
}
.social{
    color: white;
    margin-top: 30px;
}
.fa-brands{
    font-size: 30px;
    margin-left: 20px;
    color:grey;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
/* Footer End */
.middle-content{
    display: flex;
}