*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Common utilities */
body{
    background-color: aqua;
}
main{
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 8%;
}
/* Top Banner start */
.top-banner{
    background-color:black;
    display: flex;
    color: white;
    border-radius: 15px;
    margin-bottom: 5%;
}
.half-width{
    width: 50%;
    margin-top: 5%;
    margin-left: 8%;
    margin-right: 5%;
}
.half-width h1{
    font-size: 45px;
    margin-bottom: 15px;
}
.half-width p{
    font-size: 15px;
    margin-bottom: 20px;
}
.button{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
/* Top Banner End */

/* Middle Section Start */
.middle-section{
    display: flex;
    margin-bottom: 5%;
}
/* Middle-Left */
.menu{
    width:200px;
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    margin-right: 15px;
}
.btn{
    background-color:whitesmoke;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
#btn{
    background-color:orangered;
    color:white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
/* Middle-Right */
.middle-right{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}
.middle-content{
    width: 215px;
    height:280px;
}
.sports{
    width: 200px;
    height: 120px;
    margin-bottom: 20px;
}
.content{
    margin-bottom: 20px;
}
.content h3{
    margin-top: 15px;
    font-size: 15px;
}
.transfer{
   padding:3px 8px;
   text-decoration: none;
   border: 1px solid black;
   border-radius: 5px;
}
.icon{
    display: flex;
    margin-right: 50px;
    justify-content: center;
}
.icon img{
    margin-right: 10px;
}
.content-icon{
    display: flex;  
}

/* Middle- Right End */



